h1 {
    color: #85F4FF;
}

h3 {
    color: #85F4FF;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

img{
    height: 150px;
    width: 150px;
}
